/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color:#f6f6ef;
}
th {
  text-align: left;
}

.header{
  display: inline-block;
  margin-right: 20px;
}

.nav_bar{
border: 1px solid;
background-color: #ff6600;
padding: 1em;
text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1em;
}

h5 {
  float: left;
  width:25px;
  display: block;
  margin: 3.5% auto;
}

.post_title{
  clear: right;
  display: block;
  text-decoration: none;
}

#user {
  float: left;
  display: inline;
  margin: 0 auto;
}

#comments {
  margin: 0 auto;
  padding: 1em;
  clear: right;
}

#sign_up{
margin-top: 40px;
margin-bottom: -30px;
}

.content{
  margin-bottom: -20px;
}

.user_info{
  display: inline-block;
}

#info {
font-size: 12px;
}
